azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "connections_freshdesk_name": {
            "defaultValue": "freshdesk",
            "type": "String"
        },
        "workflows_Nodinite.Alert.Freshdesk_name": {
            "defaultValue": "Nodinite.Alert.Freshdesk",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "comments": "Generalized from resource: '/subscriptions/dea06540-2d1c-4ea8-ad1a-739a2147353f/resourceGroups/Nodinite-Dev-Nodinite2FreshDesk2/providers/Microsoft.Logic/workflows/Nodinite.Alert.Freshdesk'.",
            "type": "Microsoft.Logic/workflows",
            "name": "[parameters('workflows_Nodinite.Alert.Freshdesk_name')]",
            "apiVersion": "2017-07-01",
            "location": "westeurope",
            "tags": {},
            "scale": null,
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "Created": {
                                            "type": "string"
                                        },
                                        "Customer": {
                                            "type": "string"
                                        },
                                        "Environment": {
                                            "type": "string"
                                        },
                                        "MonitorViews": {
                                            "items": {
                                                "properties": {
                                                    "ChangedResources": {
                                                        "items": {
                                                            "properties": {
                                                                "Application": {
                                                                    "properties": {
                                                                        "ApplicationId": {
                                                                            "type": "integer"
                                                                        },
                                                                        "Description": {
                                                                            "type": "string"
                                                                        },
                                                                        "Name": {
                                                                            "type": "string"
                                                                        },
                                                                        "WebSite": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "Category": {
                                                                    "properties": {
                                                                        "CategoryId": {
                                                                            "type": "integer"
                                                                        },
                                                                        "Description": {
                                                                            "type": "string"
                                                                        },
                                                                        "Name": {
                                                                            "type": "string"
                                                                        },
                                                                        "WebSite": {}
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "Description": {},
                                                                "LogText": {
                                                                    "type": "string"
                                                                },
                                                                "Name": {
                                                                    "type": "string"
                                                                },
                                                                "ResourceId": {
                                                                    "type": "integer"
                                                                },
                                                                "Source": {
                                                                    "properties": {
                                                                        "Description": {
                                                                            "type": "string"
                                                                        },
                                                                        "Environment": {},
                                                                        "Name": {
                                                                            "type": "string"
                                                                        },
                                                                        "Server": {},
                                                                        "SourceId": {
                                                                            "type": "integer"
                                                                        },
                                                                        "Version": {},
                                                                        "WebSite": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "StatusCode": {
                                                                    "properties": {
                                                                        "Name": {
                                                                            "type": "string"
                                                                        },
                                                                        "StatusCode": {
                                                                            "type": "integer"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "WebSite": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "ResourceId",
                                                                "Name",
                                                                "Description",
                                                                "WebSite",
                                                                "Source",
                                                                "Category",
                                                                "Application",
                                                                "StatusCode",
                                                                "LogText"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "Description": {
                                                        "type": "string"
                                                    },
                                                    "Integrations": {
                                                        "type": "array"
                                                    },
                                                    "MonitorViewId": {
                                                        "type": "integer"
                                                    },
                                                    "Name": {
                                                        "type": "string"
                                                    },
                                                    "NumberOfMonitoredResources": {
                                                        "type": "integer"
                                                    },
                                                    "StatusCode": {
                                                        "properties": {
                                                            "Name": {
                                                                "type": "string"
                                                            },
                                                            "StatusCode": {
                                                                "type": "integer"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "Users": {
                                                        "items": {
                                                            "properties": {
                                                                "Description": {},
                                                                "MailAddress": {
                                                                    "type": "string"
                                                                },
                                                                "Name": {
                                                                    "type": "string"
                                                                },
                                                                "UserId": {
                                                                    "type": "integer"
                                                                }
                                                            },
                                                            "required": [
                                                                "UserId",
                                                                "Name",
                                                                "Description",
                                                                "MailAddress"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "WebSite": {}
                                                },
                                                "required": [
                                                    "MonitorViewId",
                                                    "Name",
                                                    "Description",
                                                    "WebSite",
                                                    "StatusCode",
                                                    "NumberOfMonitoredResources",
                                                    "Integrations",
                                                    "ChangedResources",
                                                    "Users"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "ProductStatus": {
                                            "properties": {
                                                "ExpirationDate": {},
                                                "IsTrial": {
                                                    "type": "boolean"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "Version": {
                                            "type": "string"
                                        },
                                        "WebClientUrl": {}
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "actions": {
                        "For_each": {
                            "foreach": "@triggerBody()?['MonitorViews']",
                            "actions": {
                                "Condition": {
                                    "actions": {
                                        "Create_a_ticket": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "description": "Error in MonitorView: @{items('for_each')?['Name']} - @{concat(concat(triggerBody()?['WebClientUrl'], '/Monitor/MonitorView/'), items('for_each')['MonitorViewId'])} ",
                                                    "email": "info@nodinite.com",
                                                    "priority": "Low",
                                                    "status": "Open",
                                                    "subject": "Error in MonitorView: @{items('for_each')['name']}",
                                                    "type": "Problem"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['freshdesk']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/api/v2/tickets"
                                            }
                                        }
                                    },
                                    "runAfter": {},
                                    "expression": {
                                        "and": [
                                            {
                                                "not": {
                                                    "equals": [
                                                        "@items('for_each')['StatusCode']['StatusCode']",
                                                        0
                                                    ]
                                                }
                                            }
                                        ]
                                    },
                                    "type": "If"
                                }
                            },
                            "runAfter": {},
                            "type": "Foreach"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "freshdesk": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_freshdesk_name'))]",
                                "connectionName": "freshdesk",
                                "id": "/subscriptions/dea06540-2d1c-4ea8-ad1a-739a2147353f/providers/Microsoft.Web/locations/westeurope/managedApis/freshdesk"
                            }
                        }
                    }
                }
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', parameters('connections_freshdesk_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/dea06540-2d1c-4ea8-ad1a-739a2147353f/resourceGroups/Nodinite-Dev-Nodinite2Freshdesk2/providers/Microsoft.Web/connections/freshdesk'.",
            "type": "Microsoft.Web/connections",
            "name": "[parameters('connections_freshdesk_name')]",
            "apiVersion": "2016-06-01",
            "location": "westeurope",
            "scale": null,
            "properties": {
                "displayName": "[concat(parameters('connections_freshdesk_name'),'Freshdesk', parameters('connections_freshdesk_name'))]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/dea06540-2d1c-4ea8-ad1a-739a2147353f/providers/Microsoft.Web/locations/westeurope/managedApis/', parameters('connections_freshdesk_name'))]"
                }
            },
            "dependsOn": []
        }
    ]
}